-
  let about = [
  {
      title: 'что?',
      text: 'Креативная лаборатория Kemistry'
  },
  {
  title: 'когда?',
  text: 'C 2014 года'
  },
  {
  title: 'кто?',
  text: 'Специалисты с многолетним опытом работы в сетевых агентствах на больших брендах'
  },
  {
  title: 'с кем?',
  text: 'В партнерстве с международным агентством Crispin Porter + Bogusky'
  },
  {
  title: 'почему именно мы?',
  text: 'Для нас важна «химия» между людьми в агентстве, между агентством и клиентом, между брендом и потребителем. И мы знаем как эту химию создать.'
  },
  {
  title: 'как это получается?',
  text: 'Мы делаем все, чтобы как можно лучше понять потребности и задачи клиента. Мы верим, что каждый клиент и каждая задача уникальны. Мы не используем шаблонные приемы и готовые решения. Мы каждый раз предлагаем что-то особенное, не важно, идет речь об интегрированной кампании или о листовке. В результате, мы делаем по-настоящему эффективную коммуникацию.'
  }
  ];

section#about.about
  .container
    .about__inner
      each item in about
        .about__item
          .about__title= item.title
          .about__text= item.text