.about {
  padding-top: svw(40);
  @include breakpoint(medium) {
    padding-top: mvw(40);
  }
  @include breakpoint(large) {
    padding-top: rem(50);
  }
  &__item {
    transition: .5s ease;
    will-change: opacity;
    opacity: 0;
    &.#{$visible} {
      opacity: 1;
    }
    &:not(:last-child) {
      margin-bottom: svw(30);
      @include breakpoint(medium) {
        margin-bottom: mvw(40);
      }
      @include breakpoint(large) {
        margin-bottom: rem(50);
      }
    }
  }
  &__text {
    font-size: svw(20);
    line-height: 1.2;
    font-weight: 300;
    @include breakpoint(medium) {
      font-size: mvw(20);
    }
    @include breakpoint(large) {
      font-size: rem(20);
    }
  }
}