include ../title/title

-
  let about = [
  {
      title: 'что?',
      text: 'Креативная лаборатория Kemistry'
  },
  {
  title: 'когда?',
  text: 'C&nbsp;2014 года'
  },
  {
  title: 'кто?',
  text: 'Специалисты с&nbsp;многолетним опытом работы в&nbsp;сетевых агентствах на&nbsp;больших брендах'
  },
  {
  title: 'с кем?',
  text: 'В&nbsp;партнерстве с&nbsp;международным агентством Crispin Porter + Bogusky'
  },
  {
  title: 'почему именно мы?',
  text: 'Для нас важна &laquo;химия&raquo; между людьми в&nbsp;агентстве, между агентством и&nbsp;клиентом, между брендом и&nbsp;потребителем. И&nbsp;мы&nbsp;знаем как эту химию создать.'
  },
  {
  title: 'как это получается?',
  text: 'Мы&nbsp;делаем все, чтобы как можно лучше понять потребности и&nbsp;задачи клиента. Мы&nbsp;верим, что каждый клиент и&nbsp;каждая задача уникальны. Мы&nbsp;не&nbsp;используем шаблонные приемы и&nbsp;готовые решения. Мы&nbsp;каждый раз предлагаем что-то особенное, не&nbsp;важно, идет речь об&nbsp;интегрированной кампании или о&nbsp;листовке. В&nbsp;результате, мы&nbsp;делаем по-настоящему эффективную коммуникацию.'
  }
  ];

section#about.section.about
  .container
    .about__inner
      each item in about
        .about__item.js-about-visible
          +title({tag: 'h2', mods: 'title_1', text: item.title})
          .about__text!= item.text