extend ../layouts/project

block vars
    -
        let title = 'Гутталакс';
        let description = 'Гутталакс';

block content
    .p-project
        include ../../blocks/header/header
        +header({
            inner: true
        })
        .container
            include ../../blocks/project/project
            +project({
                title: 'Гутталакс',
                preview: {
                    images: [
                        {
                            src: './img/projects/guttalax@2x.png',
                            alt: 'Гутталакс'
                        }
                    ]
                },
                descriptions: [
                    {
                        subtitle: 'Задача',
                        text: 'Гутталакс воспринимался потребителями, как эффективное, он жесткое слабительное средство. В новой кампании нам надо было переломить этот стереотип.'
                    },
                    {
                        subtitle: 'Решение',
                        text: 'Используя видеоряд из глобального ролика, мы создали новое демо и показали, что Гутталакс работает мягко и не вызывает привыкания.'
                    }
                ]
            })