extend ../layouts/master

block content
    .p-main(data-parallax-start)
        .p-main__circle.p-main__circle_far.p-main__circle_far_1(data-parallax-speed='0.1')
        .p-main__circle.p-main__circle_far.p-main__circle_far_2(data-parallax-speed='0.1')
        .p-main__circle.p-main__circle_far.p-main__circle_far_3(data-parallax-speed='0.1')
        .p-main__circle.p-main__circle_far.p-main__circle_far_4(data-parallax-speed='0.1')
        .p-main__circle.p-main__circle_far.p-main__circle_far_5(data-parallax-speed='0.1')
        .p-main__circle.p-main__circle_medium.p-main__circle_medium_1(data-parallax-speed='0.4')
        .p-main__circle.p-main__circle_medium.p-main__circle_medium_2(data-parallax-speed='0.4')
        .p-main__circle.p-main__circle_medium.p-main__circle_medium_3(data-parallax-speed='0.4')
        .p-main__circle.p-main__circle_medium.p-main__circle_medium_4(data-parallax-speed='0.4')
        .p-main__circle.p-main__circle_medium.p-main__circle_medium_5(data-parallax-speed='0.4')
        .p-main__circle.p-main__circle_front.p-main__circle_front_1(data-parallax-speed='0.6')
        .p-main__circle.p-main__circle_front.p-main__circle_front_2(data-parallax-speed='0.6')
        .p-main__circle.p-main__circle_front.p-main__circle_front_3(data-parallax-speed='0.6')
        .p-main__circle.p-main__circle_front.p-main__circle_front_4(data-parallax-speed='0.6')
        .p-main__circle.p-main__circle_front.p-main__circle_front_5(data-parallax-speed='0.6')
        .p-main__content
            include ../../blocks/header/header
            +header({mods: 'header_main'})
            include ../../blocks/about/about
            include ../../blocks/clients/clients
            include ../../blocks/services/services
            include ../../blocks/projects/projects
            include ../../blocks/contacts/contacts

block scripts