extend ../layouts/master

block addHeadContent
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap' rel='stylesheet')


block content
    .p-ny2021
        .p-ny2021__content
            video(controls src='./video/ng.mp4').p-ny2021__video


block footer
    include ../../blocks/footer/footer
    +footer({mods: ['ny2021']})