extend ../layouts/project

block vars
    -
        let title = 'INFINITI QX60';
        let description = 'INFINITI QX60';

block content
    .p-project
        include ../../blocks/header/header
        +header({
            inner: true
        })
        .container
            include ../../blocks/project/project
            +project({
                title: 'INFINITI QX60',
                preview: {
                    video: '327925499'
                },
                descriptions: [
                    {
                        subtitle: 'Задача',
                        text: 'Вывод на рынок первого семейного кроссовера в премиум сегменте.'
                    },
                    {
                        subtitle: 'Решение',
                        text: 'Интегрированная кампания. Тизерный ролик на ТВ имитирует трейлер остросюжетного блокбастера. Продолжение можно посмотреть на сайте INFINITI, а заодно познакомиться с характеристиками модели и записаться на тест-драйв. Серия из 10 макетов наружной рекламы выполнена в виде отзывов кинокритиков. Тема кинопремьеры поддержана в радио роликах и баннерах и SMM.'
                    }
                ],
                result: [
                    {
                        text: 'Рост трафика в салоны дилеров – 30%'
                    }
                ]
            })