extend ../layouts/project

block vars
    -
        let title = 'Цикловое совещание SANOFI';
        let description = 'Цикловое совещание SANOFI';

block content
    .p-project
        include ../../blocks/header/header
        +header({
            inner: true
        })
        .container
            include ../../blocks/project/project
            +project({
                title: 'Цикловое совещание SANOFI',
                preview: {
                    images: [
                        {
                            src: './img/projects/sanofi@2x.png',
                            alt: 'Цикловое совещание SANOFI'
                        }
                    ]
                },
                descriptions: [
                    {
                        subtitle: 'Задача',
                        text: 'Было необходимо разработать идею и стиль циклового совещания Sanofi, активации для участников, продумать сценарии открытия и  закрытия.'
                    },
                    {
                        subtitle: 'Решение',
                        text: 'Для циклового совещания Sanofi нами был разработан креативный квест включавший множество творческих заданий, создан Telegram-бот, флеш-моб с песнейи хореографией, сценарий открытия и закрытия, включавший видео-фильмы.'
                    }
                ],
                result: [
                    {
                        text: 'Для циклового совещания Sanofi нами был разработан креативный квест включавший множество творческих заданий, создан Telegram-бот, флеш-моб с песнейи хореографией, сценарий открытия и закрытия, включавший видео-фильмы.'
                    }
                ]
            })