.title {
  &_1 {
    font-family: $alt-font;
    font-weight: 900;
    font-size: svw(34);
    line-height: 1;
    @include breakpoint(medium) {
      font-size: mvw(54);
    }
    @include breakpoint(large) {
      font-size: rem(54);
    }
  }
  &_2 {
    font-family: $main-font;
    font-weight: 900;
    font-size: svw(28);
    text-transform: uppercase;
    line-height: 1;
    @include breakpoint(medium) {
      font-size: mvw(36);
    }
    @include breakpoint(large) {
      font-size: rem(36);
    }
  }
  &_3 {
    font-family: $main-font;
    font-weight: 400;
    font-size: svw(20);
    text-transform: uppercase;
    line-height: 1;
    @include breakpoint(medium) {
      font-size: mvw(30);
    }
    @include breakpoint(large) {
      font-size: rem(30);
    }
  }
}