.p-main {
  background-image: linear-gradient(315deg, rgba(238, 127, 238, 0.42), rgba(247, 149, 164, 0.6), rgba(255, 204, 141, 0.53), rgba(247, 149, 164, 0.58), rgba(240, 131, 226, 0.44), rgba(238, 127, 238, 0.29));
  background-color: $white;
  position: relative;
  &__circle {
    background-image: linear-gradient(315deg, rgba(238, 127, 238, .49), rgba(247, 149, 164, .53), rgba(255, 204, 141, .55));
    border-radius: 50%;
    position: absolute;
    display: none;
    @include breakpoint(large) {
      display: block;
    }
    &_far {
      width: rem(300);
      height: rem(300);
      &_1 {
        top: rem(200);
        right: rem(20);
      }
      &_2 {
        top: rem(700);
        left: rem(20);
      }
      &_3 {
        top: rem(1040);
        right: rem(300);
      }
      &_4 {
        top: rem(1540);
        left: rem(50);
      }
      &_5 {
        top: rem(1840);
        right: rem(320);
      }
    }
    &_medium {
      width: rem(200);
      height: rem(200);
      &_1 {
        top: rem(500);
        right: rem(260);
      }
      &_2 {
        top: rem(600);
        left: rem(200);
      }
      &_3 {
        top: rem(970);
        right: rem(160);
      }
      &_4 {
        top: rem(1570);
        left: rem(300);
      }
      &_5 {
        top: rem(2050);
        right: rem(270);
      }
    }
    &_front {
      width: rem(100);
      height: rem(100);
      &_1 {
        top: rem(400);
        right: rem(250);
      }
      &_2 {
        top: rem(1000);
        left: rem(250);
      }
      &_3 {
        top: rem(1360);
        right: rem(100);
      }
      &_4 {
        top: rem(2060);
        left: rem(370);
      }
      &_5 {
        top: rem(2550);
        right: rem(150);
      }
    }
  }
  &__content {
    position: relative;
  }
}