.services {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    column-count: 2;
    column-gap: svw(30);
    @include breakpoint(medium) {
      column-gap: mvw(30);
      max-width: mvw(480);
    }
    @include breakpoint(large) {
      column-gap: rem(30);
      max-width: rem(480);
    }
  }
  &__item {
    font-size: svw(36);
    margin-bottom: svw(5);
    font-weight: 300;
    @include breakpoint(medium) {
      font-size: mvw(36);
      margin-bottom: mvw(5);
    }
    @include breakpoint(large) {
      font-size: rem(36);
      margin-bottom: rem(5);
    }
  }
}