// Colors
$white: #ffffff;
$mine-shaft: #333;
$primary: red;
$blue-chill: #0f7d8a;
$java: #14c3b5;
$bright-turquoise: #00ffb7;

// Fonts
$main-font: 'Open Sans', Arial, Helvetica, sans-serif;
$alt-font: 'Merriweather', Times New Roman, serif;

// Breakpoints
$small: 640px;
$medium: 768px;
$large: 1024px;

// Other
$transition: .3s ease;
$small-container-padding: 10px;
$medium-container-padding: 15px;
$large-container-padding: 20px;
$global-width: 1280px;