// Colors
$white: #ffffff;
$mine-shaft: #333;
$primary: red;
$blue-chill: #0f7d8a;
$java: #14c3b5;
$bright-turquoise: #00ffb7;

$pastel-green: rgb(98, 231, 153);
$turquoise: rgb(51, 197, 189);

$blue: #0000ff;
$lavender-rose: #f9caf3;
$grey: #707070;
$primary: $blue;

// Fonts
$main-font: 'HelveticaNeue', Arial, Helvetica, sans-serif;
$alt-font: 'SoyuzGroteskBold', Comic Sans, sans-serif;

// Breakpoints
$medium: 768px;
$large: 1024px;

// Other
$transition: .3s ease;
$small-container-padding: 20px;
$medium-container-padding: 30px;
$large-container-padding: 30px;
$global-width: 1100px;

// Classes
$active: '_active';
$visible: '_visible';