.contacts {
  &__header {
    background-color: $primary;
    padding: svw(20) 0;
    @include breakpoint(medium) {
      padding: mvw(25) 0;
    }
    @include breakpoint(large) {
      padding: rem(30) 0;
    }
  }
  &__title {
    color: $white;
  }
  &__map {
    height: svw(200);
    background: url(/img/map.jpg) center no-repeat;
    background-size: cover;
    @include breakpoint(medium) {
      height: mvw(350);
    }
    @include breakpoint(large) {
      height: rem(500);
    }
  }
}