.projects {
  .slick-slide {
    width: svw(220);
    margin-right: svw(10);
    padding: svw(10);
    @include breakpoint(medium) {
      width: mvw(300);
      margin-right: mvw(30);
      padding: mvw(10);
    }
    @include breakpoint(large) {
      margin-right: rem(40);
      width: rem(500);
      padding: rem(10);
    }
  }
  &__item {
    text-align: center;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 11px 0 rgba($primary, .3);
    overflow: hidden;
  }
  &__item-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: svw(24);
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    height: svw(150);
    box-sizing: border-box;
    padding: svw(20);
    transition: $transition;
    background-color: rgba($mine-shaft, .55);
    @include breakpoint(medium) {
      font-size: mvw(30);
      height: mvw(200);
      padding: mvw(40);
    }
    @include breakpoint(large) {
      font-size: rem(44);
      height: rem(250);
      padding: rem(50);
    }
    &:focus {
      outline: none;
    }
  }
  &__slider {
    position: relative;
    &:hover {
      .slick-arrow {
        opacity: 0.6;
        visibility: visible;
      }
    }
  }
  .slick-arrow {
    display: none;
    @include breakpoint(large) {
      display: block;
      top: rem(95);
      position: absolute;
      z-index: 10;
      background-color: $white;
      background-size: rem(50);
      background-repeat: no-repeat;
      background-position: center;
      border: 0;
      border-radius: 50%;
      font-size: 0;
      width: 80px;
      height: 80px;
      opacity: 0;
      visibility: hidden;
      transition: $transition;
      cursor: pointer;
    }
    &:focus {
      outline: 0;
    }
  }
  .slick-prev {
    left: 100px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80'%3E%3Cpath d='M15.146 37.145L51.12 1.18a4.052 4.052 0 0 1 5.719 0 4.03 4.03 0 0 1 0 5.707l-33.122 33.11 33.118 33.11a4.035 4.035 0 0 1 0 5.711 4.052 4.052 0 0 1-5.719 0L15.142 42.855c-1.555-1.558-1.555-4.156.004-5.71z' fill='%230000ff' /%3E%3C/svg%3E");
  }
  .slick-next {
    right: 100px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80'%3E%3Cpath d='M64.854 37.145L28.88 1.18a4.052 4.052 0 0 0-5.719 0 4.03 4.03 0 0 0 0 5.707l33.122 33.11-33.118 33.11a4.035 4.035 0 0 0 0 5.711 4.052 4.052 0 0 0 5.719 0l35.975-35.964c1.555-1.558 1.555-4.156-.004-5.71z' fill='%230000ff' /%3E%3C/svg%3E");
  }
}