include ../title/title
-
  let projects = [
  {text: 'Гутталакс', link: './guttalax.html', img: './img/projects/guttalax@2x.png'},
  {text: 'INFINITI QX80', link: './qx80.html', img: './img/projects/qx80@2x.png'},
  {text: 'INFINITI QX60', link: './qx60.html', img: './img/projects/qx60@2x.png'},
  {text: 'INFINITI Q30 и&nbsp;QX30', link: './q30-qx30.html', img: '/img/projects/q30@2x.png'},
  {text: 'INFINITI QX60 и&nbsp;QX80',link: './qx60-qx80.html', img: '../img/projects/qx60-qx80@2x.png'},
  {text: 'Remy Martin', link: '/', img: './img/projects/rm2@2x.png'},
  {text: 'Цикловое совещание Sanofi', link: './sanofi.html', img: './img/projects/sanofi@2x.png'},
  {text: 'Неделя здоровья Sanofi', link: './sanofi-health-week.html', img: './img/projects/hse@2x.png'},
  {text: 'Sanofi cleanup day', link: './sanofi-cleanup.html', img: './img/projects/cleanup@2x.png'},
  {text: 'Capitan Morgan', link: './capitan-morgan.html', img: './img/projects/Cap_morgan@2x.png'}
  ];

section#projects.section.projects
  .container
    +title({tag: 'h2', mods: 'title_1 section__title', text: 'Наши проекты'})
  .projects__inner
    .projects__slider.js-projects-slider
      each item in projects
        .projects__item
          .projects__item-inner(style='background-image: url(' + item.img + ');')
            a(href=item.link).projects__item-overlay!= item.text