.header {
  color: $primary;
  font-weight: 400;

  &.active {
    .header {
      &__wrapper {
        background-color: $lavender-rose;
        box-shadow: 0 1px 11px 0 rgba($primary, .3);
        @include breakpoint(large) {
          padding: rem(10) 0;
        }
      }

      &__logo {
        @include breakpoint(large) {
          width: rem(130);
          margin-right: rem(115);
        }
      }

      &__nav {
        @include breakpoint(large) {
          margin-top: rem(20);
        }
      }

      &__nav-item {
        @include breakpoint(large) {
          font-size: rem(16);
          //padding: rem(5);
        }
      }

      &__lang {
        @include breakpoint(large) {
          margin-top: rem(20);
          font-size: rem(14);
        }
      }
    }
  }

  &__push {
    height: svw(62);
    @include breakpoint(medium) {
      height: mvw(88);
    }
    @include breakpoint(large) {
      height: rem(123);
    }
  }

  &__wrapper {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    transition: $transition;
    padding: svw(5) 0 svw(12);
    @include breakpoint(medium) {
      padding: mvw(15) 0;
    }
    @include breakpoint(large) {
      padding: rem(20) 0;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(medium) {
      justify-content: flex-start;
      padding: 0 mvw($medium-container-padding);
    }
    @include breakpoint(large) {
      padding: 0 rem($large-container-padding);
      max-width: $global-width;
      margin: 0 auto;
    }
  }

  &__logo {
    width: svw(100);
    transition: $transition;
    @include breakpoint(medium) {
      width: mvw(130);
      margin-right: mvw(60);
    }
    @include breakpoint(large) {
      width: rem(185);
      //height: rem(83);
      margin-right: rem(60);
    }
  }

  &__logo-img {
    display: block;
    max-width: 100%;
  }

  &__nav {
    display: none;
    transition: $transition;
    @include breakpoint(medium) {
      //padding: 0 mvw(20);
      display: flex;
      align-items: center;
      margin-top: rem(20);
    }
    @include breakpoint(large) {
      display: flex;
      align-items: center;
      margin-top: mvw(20);
    }
  }

  &__nav-item {
    display: inline-block;
    color: $primary;
    text-decoration: none;
    transition: $transition;
    @include breakpoint(medium) {
      font-size: mvw(16);
      line-height: 1.1;
      padding: mvw(5);
    }
    @include breakpoint(large) {
      font-size: rem(20);
      padding: rem(5);
    }

    &:not(:last-child) {
      @include breakpoint(medium) {
        margin-right: mvw(25);
      }
      @include breakpoint(large) {
        margin-right: rem(25);
      }
    }

    &.active,
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__lang {
    text-transform: uppercase;
    margin-top: svw(15);
    padding: 0 svw($small-container-padding);
    font-size: svw(14);
    transition: $transition;
    @include breakpoint(medium) {
      margin-top: mvw(22);
      margin-left: auto;
      padding: 0;
      font-size: mvw(14);
    }
    @include breakpoint(large) {
      margin-top: rem(22);
      font-size: rem(18);
    }
  }

  &__lang-text {
    opacity: .7;
  }

  &__lang-link {
    color: $primary;
    text-decoration: underline;
  }

  &__burger {
    width: svw(86);
    margin-top: svw(15);
    padding-left: svw($small-container-padding - 5);
    @include breakpoint(medium) {
      display: none;
    }
  }

  &__mobile-nav {
    display: none;
    background: rgba($mine-shaft, .9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
  }

  &__mobile-inner {
    height: 100%;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__mobile-list {
    margin: svw(120) 0 0;
    padding: 0;
    list-style: none;
  }

  &__mobile-el {
    display: block;
    width: 100%;
    margin-bottom: svw(30);
    text-align: center;
  }

  &__mobile-link {
    font-size: svw(22);
    line-height: 1.09;
    color: $white;

    &:hover,
    &:focus {
      color: $white;
    }
  }
}